aws-credentials.json
.DS_Store
venv/
.vscode/
notes.py
deployment_playground.py
purchase_data_processing/src/table_files
purchase_data_processing/src/__pycache__
purchase_data_processing/test/__pycache__
purchase_data_processing/test/table_files
purchase_data_processing/test/.pytest_cache


